body{
	margin: 0 auto;
}
.jumbotron{
	background-image: url("../img/fondo azul.png");
	color: white;
}
#inicio_sesion{
	background-color: plum;
	color: white;
	background-image: url("../img/fondo_morado.jpg");
}
#resgistro{
	color: white;
	background-image: url("../img/fondo_gris.jpg");
}
#central{
	margin-top: -35px;
}
#validar{
	height: 58px;
}
